{namespace gallery=Tx_InfiniteScrollGallery_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">

<!-- ###totalImages:{totalImages}### -->
<script type="text/javascript">
	// Array containing images not displayed by defaut on this page
	infinitesSrollGallery.stockImages = <gallery:stockImage images="{stockImages}" 
												maxWidth="{data.tx_infinitescrollgallery_imagemaximumwidth}" 
												maxHeight="{data.tx_infinitescrollgallery_imagemaximumheight}" 
												/>

</script>

<f:if condition="{images}">
	<f:then>
		<f:form.hidden name="totalImages" class="tx-infinitescrollgallery-totalImages" value="{totalImages}" />
		<f:for each="{images}" as="image">
                    <f:if condition="{0:image.file_mime_type} == {0:'video/mp4'}">
                        <f:then>
                            <script type="text/javascript">
                                        infinitesSrollGallery.videoPreview[{image.uid}] = {gallery:videoThumbnail(
                                            path: '/fileadmin/user_upload/resources/{image.file_name}',
                                            maxWidth: '{data.tx_infinitescrollgallery_thumbnailmaximumwidth}',
                                            maxHeight: '{data.tx_infinitescrollgallery_thumbnailmaximumheight}',
                                            interval: 10,
                                            startTime: 15,
                                            numberFrames: 5
                                        )};
                                        infinitesSrollGallery.switchThumbnail($('#video'+{image.uid}+' img'), {image.uid}, 0);
                                        // append yoxview parameters to links
                                        $('#video'+{image.uid}+' a').attr('href', $('#video'+{image.uid}+' a').attr('href')+'?image='+infinitesSrollGallery.videoPreview[{image.uid}]['still']
                                                                +'&width='+infinitesSrollGallery.videoPreview[{image.uid}]['width']
                                                                +'&height='+infinitesSrollGallery.videoPreview[{image.uid}]['height']);
                            </script>
                            <li class="tx-infinitscrollgallery-thumbnail tx-infinitscrollgallery-thumbnail-video" id="video{image.uid}">
                                <a href="{baseUri}fileadmin/user_upload/resources/{image.file_name}">
                                    {f:image(src: 'typo3conf/ext/infinite_scroll_gallery/Resources/Public/Images/film_reel.png',
                                        alt: '{image.title}',
                                        title: '{image.title}',
                                        maxWidth: '{data.tx_infinitescrollgallery_thumbnailmaximumwidth}',
                                        maxHeight: '{data.tx_infinitescrollgallery_thumbnailmaximumheight}')}
                                </a>
                            </li>
                          </f:then>
                        <f:else>
                            <li class="tx-infinitscrollgallery-thumbnail">
                                    <a href="{f:uri.image(src:'fileadmin/user_upload/resources/{image.file_name}',
                                            maxWidth: '{data.tx_infinitescrollgallery_imagemaximumwidth}',
                                            maxHeight: '{data.tx_infinitescrollgallery_imagemaximumheight}')}">
                                            {f:image(src: 'fileadmin/user_upload/resources/{image.file_name}',
                                                    alt: '{image.title}',
                                                    title: '{image.title}',
                                                    maxWidth: '{data.tx_infinitescrollgallery_thumbnailmaximumwidth}',
                                                    maxHeight: '{data.tx_infinitescrollgallery_thumbnailmaximumheight}')}
                                    </a>
                            </li>
                        </f:else>
                    </f:if>
		</f:for>
	</f:then>
	<f:else>
		<f:translate key="tx_infinitescrollgallery_listAjax_msg_no_image"></f:translate>
	</f:else>
</f:if>
</f:section>
