<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	  xmlns:gallery="http://typo3.org/ns/Fab/NaturalGallery/ViewHelpers">

	<f:layout name="Default"/>

	<f:section name="main">

		<f:if condition="{gallery:isIconsPartialAlreadyLoaded()}">
			<f:render section="Icons" partial="Icons"/>
		</f:if>

		<f:if condition="'{settings.lightbox}' == true">
			<f:if condition="{gallery:isPhotoswipePartialAlreadyLoaded()}">
				<f:render section="Photoswipe" partial="Photoswipe"/>
			</f:if>
		</f:if>

		<!-- The gallery -->
		<div class="natural-gallery"></div>

		<script type="text/javascript">

			window.naturalGalleries = window.naturalGalleries || [];

			var naturalGallery = {};

			//@off
			naturalGallery.images = {gallery:imageStack()};
			naturalGallery.categories = {gallery:categoryStack()};
			//@on

			naturalGallery.options = {};
			naturalGallery.options.rowHeight = Number("{settings.rowHeight}");
			naturalGallery.options.format = '{settings.thumbnailFormat}';
			naturalGallery.options.round = Number('{settings.round}');
			naturalGallery.options.imagesPerRow = Number('{settings.imagesPerRow}');
			naturalGallery.options.margin = Number('{settings.margin}');
			naturalGallery.options.limit = Number('{settings.limit}');
			naturalGallery.options.showLabels = '{settings.showLabels}';
			naturalGallery.options.lightbox = '{settings.lightbox}' == true;
			naturalGallery.options.showCount = '{settings.showCount}' == true;
			naturalGallery.options.searchFilter = '{settings.searchFilter}' == true;
			naturalGallery.options.categoriesFilter = '{settings.categoriesFilter}' == true;
			naturalGallery.options.showNone = '{settings.showNone}' == true;
			naturalGallery.options.showOthers = '{settings.showOthers}' == true;

			window.naturalGalleries.push(naturalGallery);
		</script>

		<gallery:loadAssets/>

	</f:section>

</html>
