{namespace gallery=TYPO3\CMS\InfiniteScrollGallery\ViewHelpers}
{namespace m=TYPO3\CMS\Media\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">

<!-- ###totalImages:{totalImages}### -->
<script type="text/javascript">
	// Array containing images not displayed by defaut on this page
	infinitesSrollGallery.imageStack = {gallery:imageStack(images: '{imageStack}', settings: '{settings}')};
</script>

<f:if condition="{images}">
	<f:then>
		<f:form.hidden name="totalImages" class="tx-infinitescrollgallery-totalImages" value="{totalImages}" />
		<f:for each="{images}" as="image">
            <li class="tx-infinitscrollgallery-thumbnail">
	            <m:thumbnail object="{image}"
	                         configuration="{width: '{settings.thumbnailMaximumWidth}', height: '{settings.thumbnailMaximumHeight}'}"
	                         configurationWrap="{width: '{settings.enlargedImageMaximumWidth}', height: '{settings.enlargedImageMaximumHeight}'}"
	                         output="imageWrapped"/>
            </li>
		</f:for>
	</f:then>
	<f:else>
		<f:translate key="tx_infinitescrollgallery_listAjax_msg_no_image"></f:translate>
	</f:else>
</f:if>
</f:section>
