/* set style to thumbnail of image*/
.tx-infinitscrollgallery-thumbnail {
    border: 0 solid #CCCCCC;
    /*float: left;*/
    margin: 10px;
    /*text-align: center;*/
}

.tx-infinitscrollgallery-thumbnail-video a img {
    box-shadow: none !important;
}

.tx-infinitscrollgallery-thumbnail a img {
    box-shadow: 3px 3px 5px #999;
    text-align: center;
}

li.tx-infinitscrollgallery-thumbnail {
    /*list-style: none;*/
    /*position: relative;*/
}

.tx-infinitescrollgallery-loading {
    text-align: center;
    display: none;
}

.tx-infinitescrollgallery-form {
    padding-top: 10px;
    vertical-align: middle;
}

.tx-infinitescrollgallery-label-tag {
    padding-right: 5px;
}

.tx-infinitescrollgallery-recordnumber {
    float: right;
    margin-left: 20px;
}

.tx-infinitescrollgallery-hidden {
    display: none;
}

.tx-infinitescrollgallery-body {
    padding:0;
    margin-top:20px;
}
.tx-infinitescrollgallery-body:after {
    content:'';
    display:block;
    clear:both;
}
.tx-infinitescrollgallery-body figure {
    display: block;
    float:left;
    background: white url('../images/ajax-loader-unit.gif') no-repeat center center;
}

.tx-infinitescrollgallery .last-row {
    background:blue;
}
.tx-infinitescrollgallery .first-child{
    background:green;
}
.tx-infinitescrollgallery-body figure a {
    display: block;
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
}

