/* set style to thumbnail of image*/
.tx-infinitscrollgallery-thumbnail {
	border: 0px solid #CCCCCC;
	float: left;
	margin: 10px;
	text-align: center;
}

.tx-infinitscrollgallery-thumbnail a img {
	box-shadow: 3px 3px 5px #999;
	text-align: center;
}

li.tx-infinitscrollgallery-thumbnail {
	list-style: none;
}

.tx-infinitescrollgallery-loading {
	text-align: center;
	display: none;
}

#tx-infinitescrollgallery-form {
	padding-top: 10px;
	vertical-align: middle;
}

#tx-infinitescrollgallery-label-tag {
	padding-right: 5px;
}
